<html><head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Dashboard</title>
  <script>


    // Enable/disable fixed top navbar
    $('#fixednavbar').click(function (){
      if ($('#fixednavbar').is(':checked')){
        $(".navbar-static-top").removeClass('navbar-static-top').addClass('navbar-fixed-top');
        $("body").removeClass('boxed-layout');
        $("body").addClass('fixed-nav');
        $('#boxedlayout').prop('checked', false);

        if (localStorageSupport){
          localStorage.setItem("boxedlayout",'off');
        }

        if (localStorageSupport){
          localStorage.setItem("fixednavbar",'on');
        }
      } else{
        $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
        $("body").removeClass('fixed-nav');
        $("body").removeClass('fixed-nav-basic');
        $('#fixednavbar2').prop('checked', false);

        if (localStorageSupport){
          localStorage.setItem("fixednavbar",'off');
        }

        if (localStorageSupport){
          localStorage.setItem("fixednavbar2",'off');
        }
      }
    });

    // Enable/disable fixed top navbar
    $('#fixednavbar2').click(function (){
      if ($('#fixednavbar2').is(':checked')){
        $(".navbar-static-top").removeClass('navbar-static-top').addClass('navbar-fixed-top');
        $("body").removeClass('boxed-layout');
        $("body").addClass('fixed-nav').addClass('fixed-nav-basic');
        $('#boxedlayout').prop('checked', false);

        if (localStorageSupport){
          localStorage.setItem("boxedlayout",'off');
        }

        if (localStorageSupport){
          localStorage.setItem("fixednavbar2",'on');
        }
      } else {
        $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
        $("body").removeClass('fixed-nav').removeClass('fixed-nav-basic');
        $('#fixednavbar').prop('checked', false);

        if (localStorageSupport){
          localStorage.setItem("fixednavbar2",'off');
        }
        if (localStorageSupport){
          localStorage.setItem("fixednavbar",'off');
        }
      }
    });

    // Enable/disable fixed sidebar
    $('#fixedsidebar').click(function (){
      if ($('#fixedsidebar').is(':checked')){
        $("body").addClass('fixed-sidebar');
        $('.sidebar-collapse').slimScroll({
          height: '100%',
          railOpacity: 0.9
        });

        if (localStorageSupport){
          localStorage.setItem("fixedsidebar",'on');
        }
      } else{
        $('.sidebar-collapse').slimscroll({destroy: true});
        $('.sidebar-collapse').attr('style', '');
        $("body").removeClass('fixed-sidebar');

        if (localStorageSupport){
          localStorage.setItem("fixedsidebar",'off');
        }
      }
    });

    // Enable/disable collapse menu
    $('#collapsemenu').click(function (){
      if ($('#collapsemenu').is(':checked')){
        $("body").addClass('mini-navbar');
        SmoothlyMenu();

        if (localStorageSupport){
          localStorage.setItem("collapse_menu",'on');
        }

      } else{
        $("body").removeClass('mini-navbar');
        SmoothlyMenu();

        if (localStorageSupport){
          localStorage.setItem("collapse_menu",'off');
        }
      }
    });

    // Enable/disable boxed layout
    $('#boxedlayout').click(function (){
      if ($('#boxedlayout').is(':checked')){
        $("body").addClass('boxed-layout');
        $('#fixednavbar').prop('checked', false);
        $('#fixednavbar2').prop('checked', false);
        $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
        $("body").removeClass('fixed-nav');
        $("body").removeClass('fixed-nav-basic');
        $(".footer").removeClass('fixed');
        $('#fixedfooter').prop('checked', false);

        if (localStorageSupport){
          localStorage.setItem("fixednavbar",'off');
        }

        if (localStorageSupport){
          localStorage.setItem("fixednavbar2",'off');
        }

        if (localStorageSupport){
          localStorage.setItem("fixedfooter",'off');
        }


        if (localStorageSupport){
          localStorage.setItem("boxedlayout",'on');
        }
      } else{
        $("body").removeClass('boxed-layout');

        if (localStorageSupport){
          localStorage.setItem("boxedlayout",'off');
        }
      }
    });

    // Enable/disable fixed footer
    $('#fixedfooter').click(function (){
      if ($('#fixedfooter').is(':checked')){
        $('#boxedlayout').prop('checked', false);
        $("body").removeClass('boxed-layout');
        $(".footer").addClass('fixed');

        if (localStorageSupport){
          localStorage.setItem("boxedlayout",'off');
        }

        if (localStorageSupport){
          localStorage.setItem("fixedfooter",'on');
        }
      } else{
        $(".footer").removeClass('fixed');

        if (localStorageSupport){
          localStorage.setItem("fixedfooter",'off');
        }
      }
    });

    // SKIN Select
    $('.spin-icon').click(function (){
      $(".theme-config-box").toggleClass("show");
    });

    // Default skin
    $('.s-skin-0').click(function (){
      $("body").removeClass("skin-1");
      $("body").removeClass("skin-2");
      $("body").removeClass("skin-3");
    });

    // Blue skin
    $('.s-skin-1').click(function (){
      $("body").removeClass("skin-2");
      $("body").removeClass("skin-3");
      $("body").addClass("skin-1");
    });

    // Inspinia ultra skin
    $('.s-skin-2').click(function (){
      $("body").removeClass("skin-1");
      $("body").removeClass("skin-3");
      $("body").addClass("skin-2");
    });

    // Yellow skin
    $('.s-skin-3').click(function (){
      $("body").removeClass("skin-1");
      $("body").removeClass("skin-2");
      $("body").addClass("skin-3");
    });

  </script>
</head>

<body class="pace-done">
<div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
  <div class="pace-activity"></div></div>

<div id="wrapper">

  <%= render 'layouts/sidebar' %>

  <div id="page-wrapper" class="gray-bg" style="min-height: 1647px;">
    <%= render 'layouts/header' %>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>Visualization</h2>
      </div>
      <div class="col-lg-2">

      </div>
    </div>
    <div class="wrapper wrapper-content">
      <div class="row animated fadeInRight">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="ibox">
              <div class="ibox-content">
                <h5 class="m-b-md">Students</h5>
                <%= form_tag(topology_visualizations_path, remote: true, id: 'scorewise_review_pair') do %>
                    <div class="form-group"><label class="col-sm-2 control-label">Course Title</label>

                      <div class="col-sm-10"><select id="course_title" class="form-control m-b" name="course_title" required="true">
                      </select>
                      </div> </div>
                    <div class="form-group"><label class="col-sm-2 control-label">Assignment Title</label>

                      <div class="col-sm-10"><select id="assignment_title" class="form-control m-b" name="assignment_title">
                      </select>
                      </div> </div>
                    <div class="form-group">
                      <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Filter</strong></button>
                    </div>
                    <div class="form-group" style="height:625px">
                      <div id="bargraph4" style="width: 1000px;height:600px;"></div>
                    </div>

                <% end %>

                <script src="http://echarts.baidu.com/build/dist/echarts-all.js"></script>
                <script>
                  var selectData, $states;

                  function updateSelects() {

                    var cities = $.map(selectData[this.value], function (city) {
                      return $("<option value="+ city[2]+"/>").text(city[1]);
                    });
                    $("#assignment_title").empty().append(cities);
                  }


                  var state;
                  selectData = <%= @grouped_tasks.to_json.html_safe %>;
                  $states = $("#course_title").on("change", updateSelects);
                  for (state in selectData) {
                    $("<option />").text(state).appendTo($states);
                  }
                  $states.change();


                  var ctdata = <%= @datawarehouse_entity_topology.to_json.html_safe %>;
                  var myChart4 = echarts.init(document.getElementById('bargraph4'));

                  option = {
                    title : {
                      text: 'Topology',
                      x:'right',
                      y:'bottom'
                    },
                    tooltip : {
                      trigger: 'item',
                      formatter : "{b}"
                    },
                    toolbox: {
                      show : true,
                      feature : {
                        restore : {show: true},
                        magicType: {
                          show: true,
                          type: ['force', 'chord'],
                          option: {
                            chord: {
                              minRadius : 2,
                              maxRadius : 10,
                              ribbonType: false,
                              itemStyle: {
                                normal: {
                                  label: {
                                    show: true,
                                    rotate: true
                                  },
                                  chordStyle: {
                                    opacity: 0.2
                                  }
                                }
                              }
                            },
                            force: {
                              minRadius : 5,
                              maxRadius : 8,
                              itemStyle : {
                                normal : {
                                  label: {
                                    show: false
                                  },
                                  linkStyle : {
                                    opacity : 0.5
                                  }
                                }
                              }
                            }
                          }
                        },
                        saveAsImage : {show: true}
                      }
                    },
                    legend : {
                      data : ['Student', 'Instructor', 'Submission', 'Review'],
                      orient : 'vertical',
                      x : 'left'
                    },
                    noDataEffect: 'none',
                    series :[{
                      type: 'force',
                      name: 'webkit-dep',
                      itemStyle: {
                        normal : {
                          linkStyle : {
                            opacity : 0.5
                          }
                        }
                      },
                      categories: ctdata.categories,
                      nodes: ctdata.nodes,
                      links: ctdata.links,
                      minRadius: 5,
                      maxRadius: 8,
                      gravity: 1.1,
                      scaling: 1.1,
                      steps: 20,
                      large: true,
                      useWorker: true,
                      coolDown: 0.995,
                      ribbonType: false
                    }],
                  };

                  myChart4.setOption(option);
                  myChart4.hideLoading();

                  $('#scorewise_review_pair button').click(function(event) {
                    event.preventDefault();
                    $.ajax({
                      url: this.parentNode.parentNode.action,
                      data: {
                        course_title: $("#course_title").val(), assignment_title: $("#assignment_title").val()
                      },
                      success: function(data) {
                        option.categories = data.categories;
                        option.nodes = data.nodes;
                        option.links = data.links;
                        myChart4.setOption(option);
                      },
                      error: function() {
                      }
                    });
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="theme-config">
    <div class="theme-config-box">
      <div class="spin-icon">
        <i class="fa fa-cogs fa-spin"></i>
      </div>
      <div class="skin-setttings">
        <div class="title">Configuration</div>
        <div class="setings-item">
                    <span>
                        Collapse menu
                    </span>

          <div class="switch">
            <div class="onoffswitch">
              <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
              <label class="onoffswitch-label" for="collapsemenu">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="setings-item">
                    <span>
                        Fixed sidebar
                    </span>

          <div class="switch">
            <div class="onoffswitch">
              <input type="checkbox" name="fixedsidebar" class="onoffswitch-checkbox" id="fixedsidebar">
              <label class="onoffswitch-label" for="fixedsidebar">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="setings-item">
                    <span>
                        Top navbar
                    </span>

          <div class="switch">
            <div class="onoffswitch">
              <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
              <label class="onoffswitch-label" for="fixednavbar">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="setings-item">
                    <span>
                        Top navbar v.2
                        <br>
                        <small>*Primary layout</small>
                    </span>

          <div class="switch">
            <div class="onoffswitch">
              <input type="checkbox" name="fixednavbar2" class="onoffswitch-checkbox" id="fixednavbar2">
              <label class="onoffswitch-label" for="fixednavbar2">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="setings-item">
                    <span>
                        Boxed layout
                    </span>

          <div class="switch">
            <div class="onoffswitch">
              <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
              <label class="onoffswitch-label" for="boxedlayout">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="setings-item">
                    <span>
                        Fixed footer
                    </span>

          <div class="switch">
            <div class="onoffswitch">
              <input type="checkbox" name="fixedfooter" class="onoffswitch-checkbox" id="fixedfooter">
              <label class="onoffswitch-label" for="fixedfooter">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="title">Skins</div>
        <div class="setings-item default-skin">
                    <span class="skin-name ">
                         <a href="#" class="s-skin-0">
                             Default
                         </a>
                    </span>
        </div>
        <div class="setings-item blue-skin">
                    <span class="skin-name ">
                        <a href="#" class="s-skin-1">
                            Blue light
                        </a>
                    </span>
        </div>
        <div class="setings-item yellow-skin">
                    <span class="skin-name ">
                        <a href="#" class="s-skin-3">
                            Yellow/Purple
                        </a>
                    </span>
        </div>
        <div class="setings-item ultra-skin">
                    <span class="skin-name ">
                        <a href="md_skin/" class="md-skin">
                            Material Design
                        </a>
                    </span>
        </div>
      </div>
    </div>
  </div>
</body></html>